@import "common.css";
@import "index.css";

body,main {
    height: 100vh;
}

canvas {
    box-shadow: 3px 3px 3px 2px rgba(41,41,41,.25); 
    width: 100%;
}

.canvas-container {
    display: inline-flex;
}

.btn-primary {
    color: #ffffff;
    background-color: #483558;
    border: none;
    text-decoration: none;
}

.btn-primary:hover {
    background-color: #ffffff;
    box-shadow: inset 0 0 0 1px #483558;
    color: #483558 !important;
}

#card-title {
    width: 540px;
    text-align: center;
    border: transparent;
    background-color: transparent;
    font-size: 30px;
}

#wrapper {
    height: 100%;
}

#page-content-wrapper {
    position: relative;
    height: calc(100% - 4rem);
    margin-top: 4rem;
}

.container-fluid {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* tool box */

#toolbox {
    background-color: #ffffff;
    box-shadow: 2px 2px 2px 2px rgba(41,41,41,.25); 
    text-align: center;
    padding-top: 4rem;
    height: 100%;
    float: left;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tool-wrapper {
    width: 155px;
}

.tool-submenu {
    padding-left: 10px;
    min-height: 100%;
    width: 200px;
    background-color: #d9e0e6;
    text-align: center;
}

.tool {
    margin: 5px;
}

.menu-icon {
    width: 25px;
    margin: 3px;
}

.submenu-container {
    margin-top: 10px;
    width: 180px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    min-height: 88vh;
    max-height: 89vh;
}

.colorSelector {
    width: 50px;
}

/* submenu tab */

#tab-demo { 
    width:180px; 
    min-height: 87vh;
    max-height: 88vh;
    overflow-y: scroll;
}

#tab-demo > ul{ 
    display:block; 
    margin:0;
    list-style:none;
}

.tab-title{
    list-style:none;
    padding-inline-start: 0;
    font-size: 14px;
}

#tab-demo > ul > li{ 
    display:inline-block; 
    vertical-align:top;
    margin: 5px -1px -1px 0; 
    height:25px; 
    line-height:25px; 
    padding:0 15px;
    list-style:none; 
    box-sizing:border-box;
}

#tab-demo >  ul > li a{ 
    color: #483558;
    text-decoration:none;
}

#tab-demo > ul > li.active{ 
    border-bottom:1px solid #fff; 
    background:#fff;
}

#tab-demo > .tab-inner{ 
    clear:both; 
    color:#483558;
}

.tab-inner{ 
    min-height: 86vh;
    max-height: 87vh;
    display: contents;
    overflow: scroll;
}

.explore-item {
    margin: 19px 5px 10px 5px;
    width: 70px;
}

/* chat room */

#open-chat-btn {
    text-align: center;
    border-radius: 8px 0px 0px 8px;
    height: 50px;
    margin-top: 50vh;
    box-shadow: 2px 2px 2px rgba(41,41,41,.25), 2px 2px 2px rgba(41,41,41,.25), 2px 2px 2px rgba(41,41,41,.25);
    width: 100px;
    background-color: #faf4f4;
}

.sidebar-heading {
    padding: 0px !important;
}

#chat-box {
    text-align: center;
    background-color: #ebeff3;
    height: calc(100% - 4rem);
    margin-top: 4rem;
}

#chat-room {
    width: 18rem;
    height: calc(100vh - 4rem);
    background-color: rgb(254, 255, 255);
    margin: 1rem 1rem 1rem 1rem; 
    border-radius: 10px;
}

.room {
    margin: 13px;
    margin-top: 5.5rem;
    margin-right: 0px;
    height: calc(100% - 11rem);
    overflow-y: scroll;
    /* scrollbar-base-color: red; */
}

.room::-webkit-scrollbar-track {
    background: none;
}

.user-status {
    background-color: #eeeeee;
    padding: 5px 25px;
    margin: 15px 5px;
    margin-right: 19px;
    border-radius: 10px;
}

.user-self-chat {
    align-items: flex-end;
}

.user-name {

}

.user-self-message {
    background-color: #483558;
    color: white;
    padding: 5px 25px;
    margin: 5px;
    margin-right: -15px;
    margin-left: 26px;
    border-radius: 10px;
    width: auto;
    display: inline-block;
}

.user-other-message {
    background-color: #e2d1f0;
    color: rgb(0, 0, 0);
    padding: 5px 25px;
    margin: 5px;
    margin-right: 45px;
    border-radius: 10px;
    width: auto;
    display: inline-block;
}

.send {
    padding-top: 5px;
    bottom: 5vh;
    position: fixed;
    width: 18rem;
}

.send>input {
    width: 13.5rem;
    height: 35px;
    border-radius: 10px;
    border: 1px;
    background-color: rgb(244, 240, 248);
}

#send-btn {
    margin-left: 5px;
    width: 27px;
}

/* share link */

#share-link {
    height: 6rem;
    display: scroll;
    position: fixed;
    top: 4rem;
    right: 0px;
    width: 20rem;
    background-color: rgb(228, 209, 243);
    border-radius: 0px 0px 0px 2px;
}

#share-link-box {
    width: 320px;
    padding-right: 1em;
}

#share-link-title {
    margin-top: 9px;
}

#share-link-content {
    display: inline;
}

#share-link-input {
    font-size: 15px;
    width: 14em;
    margin-top: 5px;
    margin-bottom: 15px;
}

#share-link-btn {
    margin-left: -0.5px;
    margin-bottom: 3px;
    height: 30px;
    display: inline-flex;
}

#share-link-copy {
    margin-top: 2px;
    width: 16px;
}