@import "common.css";
@import "index.css";

.chat {
    margin-top: 100px;
    background-color: aliceblue;
}

.room {
    margin: 50px;
    height: 200px;
    background-color: white;
}

canvas {
    box-shadow: 3px 3px 3px 2px rgba(41,41,41,.25); 
    width: 100%;
}

.canvas-container {
    display: inline-flex;
}

.btn-primary {
    color: #ffffff;
    background-color: #483558;
    border: none;
    text-decoration: none;
}

.btn-primary:hover {
    background-color: #ffffff;
    box-shadow: inset 0 0 0 1px #483558;
    color: #483558 !important;
}

#card-title {
    width: 540px;
    text-align: center;
    border: transparent;
    background-color: transparent;
    font-size: 30px;
    margin-top: 70px;
    margin-bottom: 10px;
}

#toolbox {
    background-color: #ffffff;
    box-shadow: 2px 2px 2px 2px rgba(41,41,41,.25); 
    text-align: center;
    padding-top: 80px;
    min-height: 100vh;
    float: left;
    margin-left: 0px;
    width: 120px;
}

.tool {
    margin: 5px;
}

.colorSelector {
    width: 50px;
}

#chatbox-btn {
    text-align: center;
    border-radius: 8px 0px 0px 8px;
    height: 50px;
    margin-top: 130px;
    box-shadow: 2px 2px 2px rgba(41,41,41,.25), 2px 2px 2px rgba(41,41,41,.25), 2px 2px 2px rgba(41,41,41,.25);
    width: 100px;
    background-color: #fdfdfd;
}