@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
	margin: 0px;
	background-color: #dfdfdf;
	font-family: 'Numans', sans-serif;
}

main{
	text-align: center;
}

.hide{
	display: none;
}