@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
	margin: 0px;
	background-color: #dfdfdf;
}

main{
	text-align: center;
}

.hide{
	display: none;
}

.swal-button--confirm {
	background-color: #483558;
}

.swal-footer {
	text-align: center;
}