@import "common.css";

@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600");

/* cover */

main {
    height: 100%;
}

.home-cover {
    height: 100%;
    margin-top: 4 rem;
}

#cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 0px;
    min-height: 520px;
    background: url("https://d20bzyreixm85i.cloudfront.net/images/backgrounds/cover_background.jpg") no-repeat center
        center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#main-title {
    color: #483558;
    font-size: 80px;
    text-shadow: rgb(207, 206, 207) 0.1em 0.1em 0.2em;
}

#slogan {
    color: #483558;
    font-size: 26px;
}

#new-card-btn {
    color: #ffffff;
    background-color: #483558;
    border: none;
    text-decoration: none;
}

#new-card-btn:hover {
    background-color: #ffffff;
    box-shadow: inset 0 0 0 1px #483558;
    color: #483558 !important;
}

/* main */

#main .content {
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.025);
    margin-bottom: 2rem;
    padding: 3rem;
}
@media screen and (max-width: 980px) {
    #main .content {
        padding: 2rem;
    }
}
@media screen and (max-width: 480px) {
    #main .content {
        padding: 1.5rem;
    }
}

/* footer */

footer {
    text-align: center;
    background-color: #483558;
    padding-bottom: 100px;
    box-shadow: 5px 5px 4px 1px rgba(0, 0, 0, 0.025);
    margin-top: 80px;
}

footer .view {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

footer .copyright {
    display: flex;
    font-size: 20px;
    padding-top: 100px;
    color: #ffffff;
}

/* carousel */

.stretch-card > .card {
    width: 100%;
    min-width: 100%;
}

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.home-carousel {
    margin-top: 8px;
}

@media (max-width: 991.98px) {
    .padding {
        padding: 1.5rem;
    }
}

@media (max-width: 767.98px) {
    .padding {
        padding: 1rem;
    }
}

.padding {
    padding: 3rem;
}

.owl-carousel .item {
    margin: 3px;
}

.owl-carousel .item img {
    display: block;
    width: 100%;
    height: auto;
}

.owl-carousel {
    margin-bottom: 15px;
}

/* content */

.home-content {
    padding: 1.5rem 5rem;
    display: flex;
}

.home-content-item {
    padding: 2rem;
}

.home-content-description {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-content-image {
    width: 520px;
}

#login-btn {
    background-color: #483558;
    border: none;
    text-decoration: none;
    margin: 4rem;
}

#login-btn:hover {
    background-color: #ffffff;
    box-shadow: inset 0 0 0 1px #483558;
    color: #483558 !important;
}
