@import "common.css";

html,body{
background-image: url('../images/backgrounds/login_background.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
}

.container{
height: 100%;
align-content: center;
}

.signin-card{
height: 430px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.signup-card{
height: 530px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header{
padding: 1.25rem 1.25rem;
border-bottom: 0px;
}

.card-header h3{
color: white;
}

.card-footer {
padding: .75 rem;
background-color: rgba(0,0,0,.03);
border-top: 0px;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 358px;
margin-bottom: 20px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

.alert-error {
    background-color: rgb(223, 192, 192);
}

.login-guide {
    font-size: 19px;
}

#go-register {
    color: rgb(255, 255, 255);
    text-decoration: underline white;
    text-align: center;
}

#go-register:hover {
    color: rgb(69, 80, 238);
    text-decoration: underline rgb(69, 80, 238);
}

#go-login {
    color: rgb(255, 255, 255);
    text-decoration: underline white;
    text-align: center;
}

#go-login:hover {
    color: rgb(69, 80, 238);
    text-decoration: underline rgb(69, 80, 238);
}

.input-icon {
    width: 24px;
}

/* ======header====== */

#logo-image {
    width: 25px;
}

#logo {
    color: #483558;
    text-decoration: none;
    margin-left: 80px;
}

#logo-text:hover {
    text-decoration: none;
}

nav {
    margin-right: 50px;
}

nav>div {
    margin-right:30px;
    color: #483558;
    text-decoration: none;
    font-weight: 300;
}

#header {
    font-size: large;
    font-weight: 500;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    background: #ffffff;
    color: rgba(255, 255, 255, 0.5);
    cursor: default;
    height: 4rem;
    left: 0;
    line-height: 4rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10001;
    -webkit-box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
    -moz-box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
    box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25); }